<h2>User info</h2>
<%= image_tag user.get_profile_image("100x100") %>
<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>

<%= link_to "user_edit", edit_user_path(user.id) %>

<h2>New Book</h2>
<%= form_with model: book, local:true do |f| %>
  <label>Title</label>
  <%= f.text_field :title %>
  <label>Opinion</label>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>