<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>


<%= render 'list', books: @books,user: @user %>

<h2>Book detail</h2>

<table>
    <tbody>
        <tr>
            <td><%= image_tag @user.get_profile_image("40x40") %><br><%= @user.name %></td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>